<router-outlet></router-outlet>

<div class="p-3">
  <button class="btn btn-success" [routerLink]="['add']">Dodaj</button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nazwa kierunku</th>
      <th>Wydział</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let department of departmentsService.departmentsList">
      <th scope="row">{{ department.id }}</th>
      <td>{{ department.name }}</td>
      <td>{{ department.direction }}</td>
      <td>
        <button [routerLink]="['edit', department.id]" class="btn btn-edit">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
      </td>
      <td>
        <button [routerLink]="['delete']" [queryParams]="{ id: department.id, name: department.name }" class="btn btn-edit">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
