<form #projectsForm="ngForm" (ngSubmit)="save()">
  <div class="modal-header">
    <h4 class="modal-title">Dodaj lub edytuj: Projekt</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="single-input">
          <label>Tytuł</label>
          <input class="form-control" type="text" [(ngModel)]="projectsService.project.project_title" name="projectTitle" #projectTitle="ngModel" required>
        </div>
        <div class="single-input">
          <label>Liczba studentów</label>
          <input class="form-control" type="number" [(ngModel)]="projectsService.project.project_students_number" name="projectStudentNumber" #projectStudentNumber="ngModel" required>
        </div>
        <div class="single-input selectize">
          <label>Prowadzący</label>
          <ng-selectize [config]="selectizeConfig" [options]="leadersService.leadersForSelectize" [(ngModel)]="projectsService.project.lead_ID" name="leadID" #leadID="ngModel" required></ng-selectize>
        </div>

        <div class="single-input selectize">
          <label>Przedmiot</label>
          <ng-selectize [config]="selectizeSubjectConfig" [options]="subjectsService.leaderSubject" [enabled]="subjectsService.isSelectizeEnable" [(ngModel)]="projectsService.project.subject_ID" name="subjectID" #subjectID="ngModel" required></ng-selectize>
        </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Zamknij</button>
    <button type="submit" [disabled]="!projectsForm.valid" class="btn btn-primary">Zapisz</button>
  </div>
</form>
