.single-input.selectize {
    position: relative;
    height: 39px;
    label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    ng-selectize {
      position: absolute;
      top: 0;
      right: 0;
    }
}
