<router-outlet></router-outlet>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Numer indeksu</th>
      <th>Grupa dziekańska</th>
      <th>Login</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>U-12345</td>
      <td>First</td>
      <td>@mdo</td>
      <td>
        <button [routerLink]="['edit']" class="btn btn-edit">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
      </td>
      <td>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>U-23456</td>
      <td>First</td>
      <td>@fat</td>
      <td>
        <button [routerLink]="['edit']" class="btn btn-edit">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
      </td>
      <td>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>U-34567</td>
      <td>First</td>
      <td>@twitter</td>
      <td>
        <button [routerLink]="['edit']" class="btn btn-edit">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
      </td>
      <td>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </td>
    </tr>
  </tbody>
</table>
