<router-outlet></router-outlet>

<div class="p-3">
  <button class="btn btn-success" [routerLink]="['add']">Dodaj</button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Numer indeksu</th>
      <th>Login</th>
      <th>Grupa dziekańska</th>
      <th>Kierunek</th>
      <th>Wydział</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentsService.studentsList">
      <th scope="row">{{ student.id }}</th>
      <td>{{ student.name }}</td>
      <td>{{ student.surname }}</td>
      <td>{{ student.indexNumber }}</td>
      <td>{{ student.login }}</td>
      <td>{{ student.deanGroup }}</td>
      <td>{{ student.department }}</td>
      <td>{{ student.direction }}</td>
      <td>
        <button [routerLink]="['edit', student.id]" class="btn btn-edit">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
      </td>
      <td>
        <button [routerLink]="['delete']" [queryParams]="{ id: student.id, name: student.name + ' ' + student.surname }" class="btn btn-edit">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

