/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~ngx-toastr/toastr.css";

table {
    &.join-project {
      tbody {
        tr {
          td {
            &:last-child {
              text-align: left;
            }
          }
        }
      }
    }
    tbody {
        tr {
            td {
                max-width: 20px;
                .btn-edit {
                    background-color: transparent;
                    cursor: pointer;
                    i {
                        font-size: 24px;
                        color: #338DFF;
                    }
                }
                &:last-child {
                    text-align: right;
                    max-width: 20px;
                    i {
                        font-size: 24px;
                        color: red;
                    }
                }
            }
        }
    }
}

.modal-table {
  thead {
    tr {
      th {
        &:first-child {
          border-left: 1px solid #e9ecef;
        }
        &:last-child {
          max-width: 60px;
          border-right: 1px solid #e9ecef;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        &:first-child {
          border-left: 1px solid #e9ecef;
        }
        &:last-child {
          max-width: 60px;
          border-right: 1px solid #e9ecef;
        }
      }
    }
  }
}



form {
    .single-input {
        margin: 0 auto;
        width: 405px;
        margin-bottom: 15px;
        .selectize-control {
            display: inline-block;
            .selectize-input {
                width: 250px;
                min-height: 36px;
                box-shadow: none;
                background: transparent;
                border: 1px solid #ced4da;
            }
        }
        label {
            width: 150px;
        }
        .form-control {
            display: inline-block;
            width: 250px;
        }
    }
}



.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.form-signin .btn-block {
  margin-top: 20px;
}


.full-width-modal {
  .modal-dialog {
    max-width: 80%;
  }
}
