/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~ngx-toastr/toastr.css";

table {
    tbody {
        tr {
            td {
                max-width: 20px;
                .btn-edit {
                    background-color: transparent;
                    cursor: pointer;
                    i {
                        font-size: 24px;
                        color: #338DFF;
                    }
                }
                &:last-child {
                    text-align: right;
                    max-width: 20px;
                    i {
                        font-size: 24px;
                        color: red;
                    }
                }
            }
        }
    }
}



form {
    .single-input {
        margin: 0 auto;
        width: 405px;
        margin-bottom: 15px;
        .selectize-control {
            display: inline-block;
            .selectize-input {
                width: 250px;
                min-height: 36px;
                box-shadow: none;
                background: transparent;
                border: 1px solid #ced4da;
            }
        }
        label {
            width: 150px;
        }
        .form-control {
            display: inline-block;
            width: 250px;
        }
    }
}
